PORT='8000'

NODE_ENV='development'

CORS_ORIGIN='http://localhost:3000'

DATABASE_URL=''

REDIS_HOST='localhost'

REDIS_PASSWORD=''

REDIS_PORT='6379'

REDIS_SECRET_KEY=''

JWT_ACCESS_SECRET=''

JWT_REFRESH_SECRET=''

CRYPTO_SECRET=''

ACCESS_TOKEN_EXPIRY='15m'

REFRESH_TOKEN_EXPIRY='7d'